<div class="{{titleCls}}tile_stats_count">
    {{v-ragbox-content
      title=data.title
      totalCount=data.totalCount
      countDifference=data.countDifference
      countedFromMsg=data.countedFromMsg
      countedFromCount=data.countedFromCount
    }}
</div>