<li role="presentation" class="dropdown">
  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-envelope-o"></i>
    <span class="badge bg-green">{{messagesCount}}</span>
  </a>
  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
    {{#each data as |msg|}}
	    <li>
	      {{v-topbar-msg-content
          userName=msg.userName
          messageTime=msg.messageTime
          messageContent=msg.messageContent
          profileImageUrl=msg.profileImageUrl
        }}
	    </li>
    {{/each}}
  </ul>
</li>