{{!-- OM --}}
<div class="container">
  <div class="navbar-header">
    {{!-- <a class="navbar-brand navbar-brand-custom" href="#">HARI OM</a> --}}
    <a class="navbar-brand navbar-brand-custom" href="#">Components</a>
  </div>
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Simple Panel. (v-panel) <br></p>
  </div>
  {{#v-panel title="Panel 1"}}
  An empty panel bar.
  {{/v-panel}}
</div>